In [1]:
import pandas as pd

# 1. Прочитання файлу за допомогою read_csv
df = pd.read_csv('2017_jun_final.csv')

In [3]:
# 2. Виведення перших 5 рядків таблиці
print("Перші 5 рядків таблиці:")
display(df.head())

Перші 5 рядків таблиці:

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [4]:
# 3. Визначення розміру таблиці (кількість рядків та стовпців)
print("Розмір таблиці:", df.shape)

Розмір таблиці: (8704, 25)

In [5]:
# 4. Визначення типів всіх стовпців
print("Типи стовпців:")
print(df.dtypes)

Типи стовпців:
N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [6]:
# 5. Розрахунок частки пропущених значень у кожній колонці
missing_fraction = df.isnull().sum() / len(df)
print("Частка пропущених значень у кожній колонці:")
print(missing_fraction)

Частка пропущених значень у кожній колонці:
N                                   0.000000
Должность                           0.000000
Язык.программирования               0.442325
Специализация                       0.829389
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Университет                         0.041131
Еще.студент                         0.000000
Уровень.английского                 0.000000
Предметная.область                  0.025620
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

In [8]:
# 6. Видалення усіх стовпців, які містять пропуски, за виключенням "Мова.програмування"
cols_to_drop = [col for col in df.columns if (df[col].isnull().sum() > 0) and (col != 'Язык.программирования')]
df_clean = df.drop(columns=cols_to_drop)
print("Стовпці після видалення (залишається 'Язык.программирования' та ті, що не містять пропусків):")
print(df_clean.columns)

# 7. Перерахунок частки пропусків у кожній колонці після видалення
missing_fraction_clean = df_clean.isnull().sum() / len(df_clean)
print("Частка пропущених значень після видалення стовпців:")
print(missing_fraction_clean)

Стовпці після видалення (залишається 'Язык.программирования' та ті, що не містять пропусків):
Index(['N', 'Должность', 'Язык.программирования', 'Общий.опыт.работы',
       'Опыт.работы.на.текущем.месте', 'Зарплата.в.месяц',
       'Изменение.зарплаты.за.12.месяцев', 'Город', 'Размер.компании',
       'Тип.компании', 'Пол', 'Возраст', 'Образование', 'Еще.студент',
       'Уровень.английского', 'Дата.заполнения', 'User.Agent', 'exp',
       'current_job_exp', 'salary'],
      dtype='object')
Частка пропущених значень після видалення стовпців:
N                                   0.000000
Должность                           0.000000
Язык.программирования               0.442325
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Еще.студент                         0.000000
Уровень.английского                 0.000000
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
dtype: float64

In [9]:
# 8. Видалення усіх рядків, де є пропущені значення, з використанням dropna
df_dropna = df.dropna()
print("Розмір таблиці після видалення рядків з пропусками:", df_dropna.shape)

# 9. Визначення нового розміру таблиці
print("Новий розмір таблиці:", df_dropna.shape)

# 10. Створення таблиці python_data з рядками, де 'Мова.програмування' дорівнює 'Python'
python_data = df[df['Язык.программирования'] == 'Python']
print("Розмір таблиці з даними для Python:", python_data.shape)

# 11. Визначення розміру таблиці python_data
print("Розмір таблиці python_data:", python_data.shape)

Розмір таблиці після видалення рядків з пропусками: (0, 25)
Новий розмір таблиці: (0, 25)
Розмір таблиці з даними для Python: (207, 25)
Розмір таблиці python_data: (207, 25)

In [17]:
# 12. Групування даних за стовпцем "Посада"
grouped = df.groupby('Должность')

# 13. Агрегація мінімального та максимального значення у стовпчику "Зарплата.в.місяць"
# Переконаємося, що значення зарплати є числовими (якщо необхідно, перетворюємо)
df['Зарплата.в.месяц'] = pd.to_numeric(df['Зарплата.в.месяц'], errors='coerce')
agg_salary = df.groupby('Должность')['Зарплата.в.месяц'].agg(['min', 'max'])
print("Агреговані значення зарплати (мінімальне та максимальне) за посадою:")
display(agg_salary.sort_values(by='max', ascending=True))

Агреговані значення зарплати (мінімальне та максимальне) за посадою:

                                             min    max
Должность
Talent Researcher                            100   1700
Junior QA engineer                            96   2000
Sales manager                                120   2300
Junior Software Engineer                      75   2600
QA engineer                                  150   2900
Sysadmin                                      90   3000
HTML coder                                   154   3000
Technical writer                             200   3000
Support                                      138   3650
Research Engineer                            114   4000
Security Specialist                          300   4000
Designer                                     100   4000
Marketing                                    100   4000
Scrum Master                                 370   4500
Product Manager                              250   5000
Business analyst                             200   5000
DBA                                          380   6000
Senior QA engineer                           400   6000
QA Tech Lead                                 430   6000
ERP / CRM                                    100   6000
Game designer                                150   6800
HR                                           100   7000
Team lead                                    300   7000
Software Engineer                            100   7000
Project manager                              190   8000
Data Scientist / Data Analyst                150   8000
Senior Project Manager / Program Manager     200   9100
Senior Software Engineer                     350   9200
System Architect                             400  10000
DevOps                                       194  10000
Technical Lead                               500  18000
Director of Engineering / Program Director  1500  34000

In [16]:
# 14. Створення функції, що обчислює середнє значення зарплати
def fill_avg_salary(row):
    return (row['min'] + row['max']) / 2

# Застосування функції до агрегованої таблиці та створення нового стовпця "avg"
agg_salary['avg'] = agg_salary.apply(fill_avg_salary, axis=1)
print("Агреговані дані із доданим стовпцем 'avg':")
display(agg_salary.sort_values(by='avg', ascending=True))

# 15. Описова статистика для нового стовпця "avg"
stats_avg = agg_salary['avg'].describe()
print("Описова статистика для стовпця 'avg':")
display(stats_avg)

Агреговані дані із доданим стовпцем 'avg':

                                             min    max      avg
Должность
Talent Researcher                            100   1700    900.0
Junior QA engineer                            96   2000   1048.0
Sales manager                                120   2300   1210.0
Junior Software Engineer                      75   2600   1337.5
QA engineer                                  150   2900   1525.0
Sysadmin                                      90   3000   1545.0
HTML coder                                   154   3000   1577.0
Technical writer                             200   3000   1600.0
Support                                      138   3650   1894.0
Designer                                     100   4000   2050.0
Marketing                                    100   4000   2050.0
Research Engineer                            114   4000   2057.0
Security Specialist                          300   4000   2150.0
Scrum Master                                 370   4500   2435.0
Business analyst                             200   5000   2600.0
Product Manager                              250   5000   2625.0
ERP / CRM                                    100   6000   3050.0
DBA                                          380   6000   3190.0
Senior QA engineer                           400   6000   3200.0
QA Tech Lead                                 430   6000   3215.0
Game designer                                150   6800   3475.0
HR                                           100   7000   3550.0
Software Engineer                            100   7000   3550.0
Team lead                                    300   7000   3650.0
Data Scientist / Data Analyst                150   8000   4075.0
Project manager                              190   8000   4095.0
Senior Project Manager / Program Manager     200   9100   4650.0
Senior Software Engineer                     350   9200   4775.0
DevOps                                       194  10000   5097.0
System Architect                             400  10000   5200.0
Technical Lead                               500  18000   9250.0
Director of Engineering / Program Director  1500  34000  17750.0

Описова статистика для стовпця 'avg':

count       32.000000
mean      3449.234375
std       3093.885174
min        900.000000
25%       1820.500000
50%       2837.500000
75%       3756.250000
max      17750.000000
Name: avg, dtype: float64

In [18]:
# 16. Збереження отриманої таблиці у CSV файл
agg_salary.to_csv('aggregated_salary_by_position.csv', index=True)
print("Результати збережено у файл 'aggregated_salary_by_position.csv'")

Результати збережено у файл 'aggregated_salary_by_position.csv'